<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>냉파</title>

</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div class="container my-3">
        {% include "search_box.html" %}
        {% include "food_category.html" %}
        {{ selected_cate }}
        <div>
        <table class="table table-hover border-bottom">
            <thead>
                <th></th>
                <th>이름</th>
                <th>난이도</th>
                <th>조리시간(분)</th>
                <th>재료</th>
                <th>평점</th>
            </thead>

    {% if recipe_list %}
        {% for recipe in recipe_list %}
        <tr style="text-align:center; line-height: 500%;">
            <td width="10%">{% if recipe.thumbnail %}
                <img src = "{{ recipe.thumbnail.url }}" alt="" height="100" width="100">
                {% endif %}
            </td>
            <td><a href="{% url 'naengpa:detail' recipe.id %}">{{ recipe.name }}</a></td>
            <td>{{ recipe.difficulty }}</td>
            <td>{{ recipe.time }}</td>
            <td>{{ recipe.need_ingredient }}</td>
            <td>{% if recipe.review_set.count > 0 %}
                {{ recipe.score_avg }}/5.0
                <span class="text-info .-danger middel ml-2" >({{ recipe.reviews_count }})</span>
                {% else %}
                0/5.0
                <span class="text-info .-danger middel ml-2" >(0)</span>
            </td>
            {% endif %}

        {% endfor %}
        </tr>
    {% else %}
            <td><center> 등록된 레시피가 없습니다.</center></td>
    {% endif %}
        </table>
        <ul class="pagination justify-content-center">
            {% if recipe_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ recipe_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}

            <!-- 페이지 리스트 -->
            {% for page_number in recipe_list.paginator.page_range %}
                {% if page_number == recipe_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if recipe_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ recipe_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        </div>

        <center>
            <a href="{% url 'naengpa:recipe_create'%}" class="btn btn-info">레시피 등록하기</a>
        </center>
    </div>

    </body>
</html>
<form id="checkForm" method="post" action="{% url 'naengpa:index' %}">
        <input type="hidden" id="category" name="category" value="{{ category }}">
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
%(document).ready(function(){
    $(".category").on('change',function() {
        $("#category").val($(this).val());
        $("#checkForm").submit();
        });

});
</script>

{% endblock %}



