
{% extends "base.html" %}
{% block content %}

    <div class="container my-3">
        {% include "search_box.html" %}
    <center><img src = "{{ recipe.thumbnail.url }}">
    <h1 class="border-bottom py-3" >{{ recipe.name }}</h1></center>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                {{ recipe.content }}
            </div>
        </div>
    </div>
         {{ recipe.recipe_list }}

    <h4 class="border-bottom my-4 py-2">{{ recipe.review_set.count }}개의 평가</h4>
    {% for review in recipe.review_set.all %}
        <div class="card my-3">
            <div class="card-body">
                <div class="d-flex justify-content-start">
                    ☆ : {{ review.score }}
                </div>
                <br>
                <div class="card-text" style="white-space: pre-line;">
                    {{ review.content}}
                </div>
            </div>
        </div>
    {% endfor %}
        <form action="{% url 'naengpa:review_create' recipe.id %}" method="post" class="my-3">
            {% csrf_token %}
            <div class="form-group">
            <textarea name="content" id="content" class="form-control" rows="10"></textarea><br>
            레시피 점수 ☆ :
            <select name="score" >
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            </div>
            <input type="submit" value="평가하기">
        </form>
    </div>
{% endblock %}
